.kindabigdiv{
    display:flex;
}
.wittleDiv{
    width:30%;
}
.Name{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin:4%;
}

.dashboardText{
    margin-left:1%;
}